name: PHPStan

on: push
#on:
#  push:
#    branches:
#      - master
#  pull_request:
#    branches:
#      - master

jobs:
  phpstan:
    name: Test application
    runs-on: ubuntu-latest
    container:
      image: kirschbaumdevelopment/laravel-test-runner:8.1
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: mcrypt
      - name: Install composer dependencies
        run: composer install --no-scripts
      - name: Start tests
        env:
          FACEBOOK_APP_ID: test
          FACEBOOK_APP_SECRET: test
        run: composer phpstan
